//created by me (not part of Materialize)
html {
  scroll-behavior: smooth;
}

.page1 {
  height: 100vh;
  // min-width: 1024px;
  background-image: url("../images/test.jpg") ;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.info-parent {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  span {
    padding: 3px;
    // background-color: #f44b42;
    border: 1px;
    border-color: black;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60%;
    margin-right: 20%;
    width: 20%;
    text-align: center;
  }
  a {
    color: #320A71;
  }
}

.page2 {
  height: 100vh;
  background-color: #8E0A0E;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  .product1 {
    width: 70%;
    // margin-top: 0%;
    // margin-left: 30%;
  }
  .product1-img {
    width: 25%;
  }
}


