body.case-study {
  font-family: 'Roboto Mono', monospace;
}

// .aside {
//   display: inline;
// }

.centered-img {
  magrin: auto;
  display: block;
  img {
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }
}

