$main-nav-color: #455A64;
$main-nav-text-color: #FFFFFF;

.hidden {
  display: none;
}

.navBottom {
  bottom: 0;
  position: absolute;
}

.navTop {
  top: 0;
  position: fixed;
}

html {
  scroll-behavior: smooth;
}

.my-nav {
  .small-nav {
    display: none;
    img {
      padding: .3em;
    }
  }
  background-color: $main-nav-color;
  width: 100%;
  overflow: hidden;
  a:hover {
    background-color: white;
    color: black;
  }
  a {
    color: $main-nav-text-color;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    height: 100%;
    font-size: 100%;
  }
  .nav-body {
    width: 60vw;
    a {
      padding: 1em;
      margin-left: 3em;
    }
  }
  .nav-side {
    width: 40vw;
    float: right;
    // align-content: right;
    a {
      // align: right;
      padding: .5em;
      margin-right: .5em;
      float: right;
    }
    img {
      background: white;
    }
  }
  img {
    // margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-side-nav {
  .selected {
    opacity: .5;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  position: fixed;
  float: left;
  width: 10%;
  top: 50%;
  right: 0;
  height: 100%;
  overflow-x: hidden;
  // padding-top: 20px;
  // right: 0 !important;
  // left: auto !important;
  z-index: 1;
  .portfolio-selector {
    // position: fixed;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: $main-nav-color;
    border: none;
    display: block;
    margin: 2em;

  }
}

@media screen and (max-width: 705px){
  .my-nav {
    top: 0;
    position: fixed;
    z-index: 1000;
    .nav-side {
      width: 80%;
      display: inline;
    }
    // position: relative;
    .small-nav {
      display: inline;
    }
    .big-nav {
      display: none;
      float: none;
    }
    .open {
      display: block;
      a {
      text-align: left;
        display: block;
      }
      // position: absolute;

    }
  }

}

@media screen and (max-width: 705px){
  .portfolio-side-nav {
    display: none;
  }
  #my-nav {
    bottom: 0;
    top: auto;
    position: fixed;
  }
}
