.navBottom {
  bottom: 0;
  position: absolute;
}

.navTop {
  top: 0;
  position: fixed;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #3DA9FD;
  width: 100%;
  overflow: hidden;
  a:hover {
    
  }
  a {
    color: #320000;
    font-weight: bolder;
  }
  .nav-body {
    width: 60vw;
    a {
      // display: flex;
      height: 100%;

      padding: 5px;
    }
  }
  .nav-side {
    width: 35vw;

    float: right;
  }
  img {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}