//created by me (not part of Materialize)
$points-kanban-color: #8E0A0E;
$pocket-money-color: #0C5194;

.home-page {

  html {
    scroll-behavior: smooth;
  }

  .whole-page {
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

  }

  .page1 {
    // min-width: 1024px;
    background-image: url("../images/cs-background.jpg") ;
    // background-color: #3DA9FD;

    .info-parent {
      height: 75vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      span {
        padding: 3px;
        // background-color: #f44b42;
        border: 1px;
        border-color: black;
        border-radius: 25px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 60%;
        margin-right: 20%;
        width: 20%;
        text-align: center;
      }
      a {
        color: #320A71;
      }
    }
  }
  .portfolio {
    .portfolio-nav {
      button {
        border-radius: 50%;
      }
    }
    .portfolio-body {
      a {
        margin: 10px;
      }
      .page2 {
        background-color: $points-kanban-color;
        .product1 {
          width: 60%;
          float: right;
          // margin-top: 0%;
          // margin-left: 30%;
        }
        .product1-img {
          width: 40%;
          float: left;
        }
        .next {
          a {
            // position: fixed;
            bottom: 0%;
            color: #320000;
            font-size: 2em;
          }
        }
      }


      .page3 {
        background-color: $pocket-money-color;
        .product2 {
          width: 60%;
          float: left;
        }
        .product2-img {
          min-width: 40%;
          float: right;
        }
      }
    }
  }
}

