//created by me (not part of Materialize)
$pocket-money-color: #CFD8DC;
$points-kanban-color: #F2F2F2;

.home-page {
  font-family: 'Roboto Mono', monospace;

  #mobile-home {
    display: none;
  }

  html {
    scroll-behavior: smooth;
  }


  .whole-page {
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }

  .page1 {
    background-image: url("../images/face.png") ;
    @media screen and (max-width: 705px){
      background-image: none;
      background: #B4C0CE;
    }

    .info-parent {
      height: 75vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      span {
        padding: 3vh;
        // font-size: 3vh;
        background-color: white;
        opacity: .9;
        border: 1px;
        border-color: black;
        // border-radius: 25px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 67%;
        margin-right: 18%;
        width: 30%;
        text-align: center;
        @media screen and (max-width: 705px){
          opacity: 1;
          margin-top: 25vh;
          max-height: 65vh;
          margin-left: 10%;
          margin-right: 10%;
          width: 80%;
          @media screen and (max-height: 600px), screen and (max-width: 300px){
            overflow: scroll;
            margin-top: 23vh;
            height: 60vh;
          }

        }
      }
      a {
        color: #320A71;
      }
    }
  }

  .my-container {
    width: 90vw;
    margin: auto;
  }

  .portfolio {
    .portfolio-nav {
      button {
        border-radius: 50%;
      }
    }

    .portfolio-body {
      a {
        margin: 10px;
        color: black;
      }
      .subsection {
        max-height: 50vh;
        margin-top: 20vh;
        margin-bottom: 20vh;
        display: flex;
        button {
          margin-top: 1em;
        }
      }
      .page2 {
        background-color: $pocket-money-color;
        .product1 {
          width: 60vw;
          height:40vh;
          float: right;
          // margin-top: 0%;
          // margin-left: 30%;
        }
        .product1-img {
          width: 60%;
          float: left;
          margin-top: 15%;
          margin-bottom: 15%;
        }
        .next {
          a {
            bottom: 0;
            // position: absolute;
            color: #320000;
            font-size: 2em;
          }
        }
      }


      .page3 {
        background-color: $points-kanban-color;
        .product2 {
          width: 60%;
          float: left;
          display: inline-block;
        }
        .product2-img {
          width: 60%;
          float: right;
          margin-top: 15%;
          margin-bottom: 15%;
          // min-width: 40%;
        }
      }
    }
  }
}
  @media screen and (max-width: 705px){
    .home-page .page1 {
      .info-parent {
        span {
          display: none;
        }
        width: 100vw;
        height: 100vh;
        position: relative;
      }
    }
    .home-page #mobile-home {
      background-image: url("../images/face-close-tall.png");
      background-position: center;
      background-size: 80vh;
      height: 100vh;
      width: 100vw;
      display: block;
      position: absolute;
      z-index: 900;
      background-repeat: no-repeat;
      #mobile-home-card {
        z-index: 950;
        background: #FFFFFF;
        padding: .75em;
        width: 80vw;
        height: auto;
        max-height: 80vh;
        margin-top: 20vh;
        margin-left: 10vw;
        margin-right: 10vw;
        text-align: center;
      }
      @media screen and (max-height: 570px){
        font-size: .9em;
      }
    }
    .home-page .portfolio .portfolio-body {
      // display: block;
      .page2 {
        .product1 {
          width: 100%;
        }
      }
      .page3 {
        .product2 {
          width: 100%;
        }
      }
    }
  }

